header{
            
    width: 1350px;
    height: 100px;
    position: relative;
    
}
nav{
    font-family: Consolas, monospace;
}
.a{
    word-spacing: 10px;

}
main{
    height: 3000px;
    width: 1350px;

    }
    #img{
       width: 1340px;
       height: 1000px;
       position: relative;
       right: 170px;
    }
    .h1{
        font-size: 25px;
        text-align: center;
        position: relative;
        bottom: 400px;


    }
    .h2{
        text-align: center;
        position: relative;
        bottom: 370px;

    }
    #case{
        display: flex;
        position: relative;
        bottom: 280px;
        
        text-align: left;
        color: white;
        


    }
    .case1{flex-grow: 1;
    
    
    padding-top:25px ;
    padding-left:25px ;
    padding-right:60px ;

}
    .case2{flex-grow: 1;
    ;
    
    padding-top:25px  ;
    padding-left:25px ;
    padding-right:60px ;

}
    .case3{flex-grow: 1;
    ;
    
    padding-top:25px ;
    padding-left:25px ;
    padding-right:60px ;


}
.gray{
    color: rgb(158, 157, 157);
    float: left;
    position: relative;
    right: 10px;
}
.date{
    color: rgb(136, 134, 134);
    float: right;
    position: relative;
    font-size: 13px;


}
.line{
    line-height: 200px;
   

}
#text{
    position: relative;
    right: 100px;
    bottom: 430px;
    
   
}
.text1{
    position: relative;
   bottom: -200px;
   left: 100px;
   border-bottom:1px solid rgb(158, 157, 157); ;
   padding: 10px;
}

.text2{
    position: relative;
   bottom: -200px;
   left: 100px;
   border-bottom:1px solid rgb(158, 157, 157); ;
   padding: 10px;
}



.text3{
    position: relative;
   bottom: -200px;
   left: 100px;
   border-bottom:1px solid rgb(158, 157, 157); ;
   padding: 10px;
}


.text4{
    position: relative;
   bottom: -200px;
   left: 100px;
   border-bottom:1px solid rgb(158, 157, 157); ;
   padding: 10px;
}


.text5{
    position: relative;
   bottom: -200px;
   left: 100px;
   border-bottom:1px solid rgb(158, 157, 157); ;
   padding: 10px;
}


.text6{
    position: relative;
   bottom: -200px;
   left: 100px;
   padding: 10px;
   border-bottom:1px solid rgb(158, 157, 157); ;
}
#Square{
    text-align: center;
    line-height: 40px;
    background-color: rgb(245, 247, 242);
    position: relative;
    width: 1350px;
    height: 1340px;

    
    

}
#img_box{
    display: flex;
    width: 1200px;
    height: 970px;
    position: relative;
    left: 80px;
}
.img_box1{
    position: relative;
    
    background-color: white;
    
    margin: 30px;
    flex-grow:1 ;
    height: 400px;
    width: 50px;
    

}
.img_box1_title{
    margin: 10px;
}
.img_box1_main{
    line-height: 18px;
    margin: 10px;
    font-size: 13px;
}
.img_box1_date{
    margin: 10px;
    font-size: 9px;
    position: relative;
    top: 30px;
}


.img_box2{
    position: relative;
    
    background-color: white;
    
    margin: 30px;
    flex-grow:1 ;
    height: 400px;
    width: 50px;

}
.img_box2_title{
    margin: 10px;
}
.img_box2_main{
    line-height: 18px;
    margin: 10px;
    font-size: 13px;
}
.img_box2_date{
    margin: 10px;
    font-size: 9px;
    position: relative;
    top: 30px;
}

.img_box3{
    position: relative;
    
    background-color: white;
    margin: 30px;
    flex-grow:1 ;
    height: 400px;
    width: 50px;
    

}
.img_box3_title{
    margin: 10px;
}
.img_box3_main{
    line-height: 18px;
    margin: 10px ;
    font-size: 13px;
}
.img_box3_date{
    margin: 10px;
    font-size: 9px;
    position: relative;
    top: 30px;
}


#img_box2{
    display: flex;
    width: 1200px;
    height: 970px;
    position: relative;
    left: 80px;
    top: -500px;


}

.img_box4{
    position: relative;
    
    background-color: white;
    margin: 30px;
    flex-grow:1 ;
    height: 400px;
    width: 980px;
    

}
.img_box4_title{
    margin: 10px;
}
.img_box4_main{
    line-height: 18px;
    margin: 10px ;
    font-size: 13px;
}
.img_box4_date{
    margin: 10px;
    font-size: 9px;
    position: relative;
    top: 30px;
}

.img_box5{
    position: relative;
   
    background-color: white;
    margin: 30px;
    flex-grow:1 ;
    height: 400px;
    width: 980px;
    

}
.img_box5_title{
    margin: 10px;
}
.img_box5_main{
    line-height: 18px;
    margin: 10px ;
    font-size: 13px;
}
.img_box5_date{
    margin: 10px;
    font-size: 9px;
    position: relative;
    top: 30px;
}

.img_box6{
    position: relative;
    
    background-color: white;
    margin: 30px;
    flex-grow:1 ;
    height: 400px;
    width: 980px;
    

}
.img_box6_title{
    margin: 10px;
}
.img_box6_main{
    line-height: 18px;
    margin: 10px ;
    font-size: 13px;
}
.img_box6_date{
    margin: 10px;
    font-size: 9px;
    position: relative;
    top: 30px;
}


.big{
    font-size: 25px;
}        
.smole{
   font-size: 13px;
   color:rgb(102, 100, 100);
}



        
        
        
    
    .detail{
        position: relative;
        bottom: -200px;
        margin-left: 230px ;
        
        

    }

footer{
    background-color: rgb(12, 12, 102);
    color: white;
    width: 1350px;
    padding-bottom:20px ;
    padding-top: 40px;
    border-bottom:1px solid gray ;
}
.container{
    width: 1040px;
    margin: 0 auto;
    
}
.inner-container1{
    position: relative;
    
    width: 1300px;

}
#logo{
    position: absolute;
    left: 50px;
    top: 30px;
    font-size: 25px;


}
nav{
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left:-200px ;
}
header button{
    position: absolute;
    right: 50px;
    top: 30px;
    font-size: 15px;
}
#box{
    width: 1000px;
    display: flex;
    position: relative;
    left: 230px;
    font-size: 14px;
    
    text-align: left;
    
}


    
    .box1 {flex-grow:1}
    .box2 {flex-grow:1}
    .box3 {flex-grow:1}
    .box4 {flex-grow:1}
    .box5 {flex-grow:1}
    .box6 {flex-grow:1}
    
.icon{
    display: flex;
    position: relative;
    top: 60px;
    background-color: rgb(176, 50, 50);
    width: 1350px;
    padding-top:50px ;
    padding-bottom:100px ;
    border-top:1px solid gray ;
}
.facebook{
    flex-grow: 1;
    position: relative;
    left: 500px;
}
.instagram{
    flex-grow: 1;
    position: relative;
    left: 550px;

}
.youtube{
    flex-grow: 1;
    position: relative;
    left: 300px;
}
.text{
    position: relative;
    top: 80px;
    right: 300px;
}